## SQLite и Pandas

Сегодня мы поработаем над тем как извлекать данные из базы данных SQLite. Для начала импортируем нужные нам библиотечки.

In [36]:
import sqlite3
import pandas as pd

Напоминаю, что "библиотека" в питоне -- это просто .py-файлики, содержащие наборы функций и объектов, которые можно просто извлекать и использовать. 

Импортировав две библиотеки выше мы добавили их в нашу рабочую среду и теперь они готовы к использованию. 

Вы можете написать свои библиотеки для конкретных повторяющихся задач. Иногда это удобно. Иногда нет.

In [37]:
# Создаем коннектор к файлу нашей базы данных. 
# Само собой, файлик Базы Данных должен лежать рядом с файлом блокнота (который вы сейчас читаете). 
con = sqlite3.connect('homework4.db')

In [38]:
# Не спрашивайте
cur = con.cursor()

In [39]:
# Таким образом исполняется запрос к Базе Данных. 
# Здесь Python передает предложение SELECT в СУБД (в данном случае это библиотечка sqlite3) и выполняет его, а возвращает набор данных из таблицы (результат работы SELECT)

cur.execute('SELECT * FROM EmployeePoints').fetchall()

[('Вася', 3, '2020-01-01'),
 ('Вася', 4, '2020-01-02'),
 ('Вася', 2, '2020-01-03'),
 ('Вася', 3, '2020-01-04'),
 ('Вася', 3, '2020-01-05'),
 ('Максим', 2, '2020-01-04'),
 ('Маша', 5, '2020-01-01'),
 ('Маша', 4, '2020-01-02'),
 ('Маша', 5, '2020-01-03'),
 ('Маша', 3, '2020-01-04'),
 ('Маша', 5, '2020-01-05'),
 ('Петя', 4, '2020-01-01'),
 ('Петя', 4, '2020-01-02'),
 ('Петя', 3, '2020-01-03'),
 ('Петя', 3, '2020-01-04'),
 ('Петя', 3, '2020-01-05'),
 ('Саша', 4, '2020-01-01'),
 ('Саша', 5, '2020-01-02'),
 ('Саша', 5, '2020-01-03'),
 ('Саша', 3, '2020-01-04'),
 ('Саша', 3, '2020-01-05')]

In [40]:
# Можно выполнять и более сложные селекты

cur.execute("""

    SELECT Employee, COUNT(Point)
    FROM EmployeePoints
    WHERE Point = 5
    GROUP BY Employee


""").fetchall()

[('Маша', 3), ('Саша', 2)]

# Pandas

В Пандасе есть встроенный метод read_sql для исполнения SQL-запросов. И он неплохо работает с SQLite.

Обратите внимание на то, как мы передаем в него коннектор (объект con) для подключения к Базе Данных. 

Выражение 'df =' означает, что результат работы метода read_sql мы складываем в уже пандасовский объект с названием df.

In [41]:
df = pd.read_sql("""

    SELECT Employee, COUNT(Point)
    FROM EmployeePoints
    WHERE Point = 5
    GROUP BY Employee


""", con)

Мы извлекли из БД таблицу и сложили ее в пандас-датафрейм df (это уже объект в Python).

Далее можем работать с ним как пожелаем.

In [42]:
df

  Employee  COUNT(Point)
0     Маша             3
1     Саша             2

Почитать: https://medium.com/@bigdataschool/%D0%B8%D0%BD%D1%82%D0%B5%D0%B3%D1%80%D0%B0%D1%86%D0%B8%D1%8F-sqlite-%D0%B8-pandas-456d813462c5